* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  padding: 50px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}
li {
  display: flex;
}

.todo {
  display: flex;
  padding: 20px;
  background-color: #B7CEEC;
  justify-content: center;
}

.add {
  display: flex;
}
button {
  display: flex;
  outline: none;
  background: #342D7E;
  color: #fff;
  border: 1px solid #342D7E;
  padding: 5px 15px;
  cursor: pointer;
  height: 39px;
}

input {
  border: none;
  border-bottom:  2px solid #342D7E;
  height: 39px;
  font-size: 16px;
  padding: 5px 20px;
}

input:focus {
  outline: none;
  border:  1px solid #342D7E;
  border-bottom:  2px solid #342D7E;
  transition: all 0.5s ease;
}

.wrap-todo {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.single-todo {
  display: flex;
}

.to-dotext {
  display: flex;
  width: 190px;
  line-height: 1.3em;
  flex: 6;
  padding: 0 20px;
  align-self: center;
  word-break: break-all;
  outline: none;
  border: none;
  background: none;
  margin: 0 20px;
}
.to-dotext:focus {

  border: 1px solid #342D7E;
}

.to-dotext.scracthed {
     text-decoration: line-through;
}

.toogle-box {
  height: 22px;
  flex: 1;
  border: 1px solid #342D7E;
  align-self: center;
}
.flex-1 {
 
}
.flex-2 {
  margin-right: 145px;
}
.select-all {
    position: relative;
    top: -12px;
}
