* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  padding: 50px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.todo {
  display: flex;
  width: 600px;
  padding: 20px;
  background-color: #B7CEEC;
  justify-content: center;
}

.add {
  display: flex;
}
button {
  display: flex;
  outline: none;
  background: #342D7E;
  color: #fff;
  border: 1px solid #342D7E;
  padding: 5px 15px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom:  2px solid #342D7E;
  padding: 5px 15px;
  height: 39px;
  width: 500px;
  font-size: 16px;
}



input:focus {
  outline: none;
  border:  1px solid #342D7E;
  border-bottom:  2px solid #342D7E;
  transition: all 0.5s ease;
}