<div class="wrap-todo">
    <div class="flex-2">
    <input type="checkbox" ng-click="$ctrl.toggleAll($ctrl.isAllSelected)" ng-model="$ctrl.isAllSelected">
    <span class="select-all">Select all completed</span>
    </div>
    <div class="flex-1">
    <button ng-click="$ctrl.deleteAllList()">Delete All Completed</button>
    <button ng-click="$ctrl.deleteAllTodos()">Delete All</button>
    </div>
</div>
<div class="wrap-todo" ng-repeat="todo in $ctrl.listNew">
   <todo  class="single-todo"
    index="$index"
    todo="todo"
    on-delete="$ctrl.delete($event)"
    on-toggle="$ctrl.toggle($event)"
    on-update= "$ctrl.update($event)"
   ></todo>
</div>
