 <input type="checkbox" class="toogle-box" ng-click="$ctrl.toggleTodo($ctrl.index, $ctrl.todoNew.completed);" ng-checked="$ctrl.todoNew.completed" />
 <span class="to-dotext"  ng-hide="$ctrl.showtodo" ng-click="$ctrl.showtodo = true">{{ $ctrl.todoNew.text}}</span>
 <input class="to-dotext" 
 ng-model="$ctrl.todoNew.text" 
 ng-class="{'scracthed': event === true}"
 ng-show="$ctrl.showtodo"
 ng-keyup="$event.keyCode == 13 ? $ctrl.updateTodo($ctrl.index, $ctrl.todoNew.text) : null"> 
 <button ng-click="$ctrl.deleteTodo($ctrl.index)">Delete</button> 
